@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Jean Contreras</h1>
    <h2>Soy ingeniero en computación e informática, tratando de especializarme en .NET</h2>
    <img 
        style= "width:200px;margin:2rem 0; border-radius:50%"
        src="~/img/1.jfif" alt="IMG"/>
</div>
